.simple-select-items-wrapper {
    position: absolute;
    background: white;
    border: 1px solid #93BAF7;
    max-height: 15em;
    max-width: 20em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10000;
    -webkit-overflow-scrolling: touch;
}

.simple-select-items-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
	/*border-radius: 8px;*/
	background-color: rgba(229,243,255,0.7);
}

.simple-select-items-wrapper::-webkit-scrollbar
{
	width: 10px;
    height: 10px;
	background-color: rgba(0,0,0,0);
}

.simple-select-items-wrapper::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(50,50,50,.6);
}

.simple-select-item {
    cursor: pointer;
    padding: 0.3em 0.3em 0.3em 1em;
}

    .simple-select-item:hover, .simple-select-item.hovered {
        background-color: #DCE6F2;
    }

    .simple-select-item .highlight {
        /*anti-chrome fix, must stay unless a parameter is explicitly defined further*/
        /*font-weight: inherit;*/
        line-height: inherit;
        /*margin: inherit;*/
        font-size: inherit;
        /*padding: inherit;*/
        word-wrap: inherit;
    }

    .simple-select-item .highlight {
        /*actual style parameters*/
        background-color: transparent;
        font-weight: bold;
        text-decoration: underline;
        margin: 0;
        padding: 0;
    }

    .simple-select-item.empty-list-item {
        background-color: lightgray;
    }

.simple-select-arrow {
    border: none;
    padding: 0;
    margin: 0;
    width: 8px;
    position: absolute;
    font-size:0.6em;
    line-height:2.5em;
    cursor:pointer;
}
    .simple-select-arrow:hover {
        font-weight:bolder;
    }
